<div class="jumbotron">

  <% if current_user %>
  <h1 class="display-4"> Bienvenue <%= current_user.first_name %> ! </h1>
  <% else %>
  <h1 class="display-4"> Bienvenue ! </h1>
  <% end %>

  <p class="lead"> Voici notre site de planifications d'évènements </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="events/new" role="button"> Créer un évènement </a>
  </p>
  

</div>

<h2> Voici la liste des prochains évènements : </h2>

<% @event.each do |event| %>

  <%= event.title %> <br>
  <%= event.description %> <br>

<% end %>